<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo">Mini Dev Editor</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'"
</head>
<body>
    <!--Linhas-->
    <div id="linhas"></div>
    <!--Editor-->
    <textarea id="txtArea" spellcheck="false" wrap="off"></textarea>


    <script src="renderer.js"></script>
</body>
</html>